<div class="jumbotron outcome-{{status}} text-center">
	<h1>Result: <span class="text-uppercase">{{message}}</span></h1>
	<p><a href="/" class="btn btn-primary btn-lg">Back to deals list</a></p>
</div>